<nav class="navbar">
  <div class="navbar-title">Sistema de Gestión</div>
  <div class="navbar-links">
       <ul class="right">
      <li><a routerLink="/bienvenida">Inicio</a></li>
      <li><a routerLink="/empleados">Gestión de Empleados</a></li>
      <li><a routerLink="/productos-servicios">Gestión de Productos y Servicios</a></li>
      <li><a (click)="cerrarSesion()" class="cerrar-sesion">Cerrar Sesión</a></li>
    </ul>
  </div>
</nav>

<div class="welcome-container">
  <h1>¡Hola {{ username }}!</h1>
  <h2>Ingresaste al sistema de gestión de empleados y servicios</h2>
  <p>Gracias por iniciar sesión.</p>
</div>